[package]
name = "blur"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.0", features = ["derive"] }
dirs = "4.0.0"
rand = "0.7.3" 
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
text_io = "0.1.9"